.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 15px;
  gap: 40px;

  a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    position: relative;
  }

  a::after {
    content: "";
    display: block;
    width: 0%;
    height: 1.5px;
    background-color: white;
    margin-top: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.2s linear;
  }

  a:hover::after {
    width: 100%;
  }
}
